{% extends 'registration/auth-base.html' %}

{% block auth %}
<div class="container-fluid">
    <div class="text-center text-dark mt-3">
        <h1>Foydalanish shartlari</h1>
        <h5>Foydalanish shartlari | Narx siyosati</h5>
        <br>
    </div>
    <h2>I. Umumiy ko'rinish</h2>
    <p>Ushbu veb-sayt, ascenteducation.com va ascenteducation.com ning barcha subdomenlari, bundan keyin sayt yoki
        veb-sayt deb ataladi, Ascent Education tomonidan boshqariladi. Saytda "biz", "biz" va "bizning" atamalari
        Ascent Educationga tegishli. Ascent Education ushbu veb-saytni, shu jumladan, ushbu saytda mavjud bo'lgan
        barcha ma'lumotlar, vositalar va xizmatlarni sizga, foydalanuvchiga, bu erda bayon qilingan barcha shartlar,
        shartlar, siyosatlar va bildirishnomalarni qabul qilishingiz sharti bilan taklif qiladi.</p>
    <p>Saytimizga tashrif buyurib va/yoki bizdan biror narsa sotib olib, siz bizning “Xizmatimiz” bilan
        shug‘ullanasiz va quyidagi shartlar (“Xizmat ko‘rsatish shartlari”, “Shartlar”), shu jumladan ushbu
        qo‘shimcha shartlar va siyosatlar bilan bog‘lanishga rozilik bildirasiz. bu yerda havola qilingan va/yoki
        giperhavola orqali mavjud. Ushbu Xizmat shartlari saytning barcha foydalanuvchilariga, shu jumladan,
        brauzerlar, sotuvchilar, mijozlar va/yoki kontentni qo'shuvchilar bo'lgan foydalanuvchilar uchun ham amal
        qiladi.</p>
    <p>Iltimos, bizning veb-saytimizga kirish yoki foydalanishdan oldin ushbu Xizmat shartlarini diqqat bilan
        o'qing. Saytning istalgan qismiga kirish yoki undan foydalanish orqali siz ushbu Xizmat shartlariga rozilik
        bildirasiz. Agar siz ushbu shartnomaning barcha shartlariga rozi bo'lmasangiz, veb-saytga kira olmaysiz yoki
        biron bir xizmatlardan foydalana olmaysiz. Agar ushbu Xizmat shartlari taklif deb hisoblansa, qabul qilish
        ushbu Xizmat shartlari bilan aniq cheklangan.</p>
    <p>Joriy veb-saytga qo'shilgan har qanday yangi xususiyat yoki vositalar ham Xizmat shartlariga bo'ysunadi.</p>

    <h4>1. Veb-sayt va Onlayn Kursdan foydalanish shartlari</h4>
    <p>Ushbu xizmat ko‘rsatish shartlariga rozilik bildirish orqali siz o‘z shtatingiz yoki provintsiyangizda kamida
        voyaga yetganligingizni yoki o‘z shtatingiz yoki provintsiyangizda voyaga yetganligingizni bildirasiz va
        bizga roziligingizni bildirasiz. voyaga etmaganlaringizga ushbu saytdan foydalanishga ruxsat bering.</p>
    <p>Siz bizning mahsulotlarimizdan noqonuniy yoki ruxsat etilmagan maqsadlarda foydalana olmaysiz yoki Xizmatdan
        foydalanishda yurisdiksiyangizdagi har qanday qonunlarni (shu jumladan mualliflik huquqi to'g'risidagi
        qonunlarni, shu jumladan, lekin ular bilan cheklanmagan holda) buzishingiz mumkin emas.</p>
    <p>Siz hech qanday qurtlarni yoki viruslarni yoki halokatli xarakterdagi kodlarni uzatmasligingiz kerak.</p>
    <p>Shartlardan birortasining buzilishi yoki buzilishi sizning xizmatlaringizning darhol to'xtatilishiga olib
        keladi.</p>

    <h4>2. Umumiy shartlar</h4>
    <p>Biz istalgan vaqtda istalgan sababga ko'ra har kimga xizmat ko'rsatishni rad etish huquqini saqlab
        qolamiz.</p>
    <p>Sizning kontentingiz (kredit karta ma'lumotlari bundan mustasno) shifrlanmagan uzatilishi va (a) turli
        tarmoqlar orqali uzatishni o'z ichiga olishi mumkinligini tushunasiz; va (b) ulanish tarmoqlari yoki
        qurilmalarining texnik talablariga muvofiqlik va moslashish uchun o'zgarishlar. Kredit karta ma'lumotlari
        har doim tarmoqlar orqali uzatishda shifrlangan.</p>
    <p>Siz bizning yozma ruxsatimizsiz Xizmatning biron bir qismini, Xizmatdan foydalanishni yoki Xizmatga kirishni
        yoki xizmat taqdim etiladigan veb-saytdagi har qanday aloqani ko'paytirmaslik, takrorlash, nusxa ko'chirish,
        sotmaslik, qayta sotmaslik yoki foydalanmaslikka rozilik bildirasiz.</p>
    <p>Ushbu shartnomada foydalanilgan sarlavhalar faqat qulaylik uchun kiritilgan va ushbu Shartlarni cheklamaydi
        yoki boshqa tarzda ta'sir qilmaydi.</p>

    <h4>3. Axborotning to‘g‘riligi, to‘liqligi va dolzarbligi</h4>
    <p>Ushbu saytda taqdim etilgan ma'lumotlar to'g'ri, to'liq yoki dolzarb bo'lmasa, biz javobgar emasmiz. Ushbu
        saytdagi materiallar faqat umumiy ma'lumot uchun taqdim etilgan va asosiy, aniqroq, to'liqroq yoki o'z
        vaqtida ma'lumot manbalariga murojaat qilmasdan qaror qabul qilish uchun yagona asos sifatida
        foydalanilmasligi yoki foydalanilmasligi kerak. Ushbu saytdagi materialga ishonish sizning xavf-xataringizga
        bog'liq.</p>
    <p>Ushbu saytda ma'lum tarixiy ma'lumotlar bo'lishi mumkin. Tarixiy ma'lumotlar, albatta, dolzarb emas va faqat
        ma'lumot uchun taqdim etiladi. Biz istalgan vaqtda ushbu sayt mazmunini o'zgartirish huquqini saqlab
        qolamiz, lekin bizning saytimizdagi biron bir ma'lumotni yangilash majburiyatimiz yo'q. Siz bizning
        saytimizdagi o'zgarishlarni kuzatish sizning mas'uliyatingiz ekanligiga rozilik bildirasiz.</p>

    <h4>4. Xizmat va narxlarga o'zgartirishlar</h4>
    <p>Sinf kurslari, oʻquv materiallari, onlayn kurslar va boshqa mahsulotlar va xizmatlar narxlari
        ogohlantirilmasdan oʻzgartirilishi mumkin.</p>
    <p>Biz istalgan vaqtda istalgan vaqtda ogohlantirmasdan Xizmatni (yoki uning biron bir qismini yoki mazmunini)
        o'zgartirish yoki to'xtatish huquqini saqlab qolamiz.</p>
    <p>Xizmatni har qanday o'zgartirish, narxni o'zgartirish, to'xtatib turish yoki to'xtatish uchun biz sizga yoki
        biron bir uchinchi tomon oldida javobgar bo'lmaymiz.</p>

    <h4>5. Mahsulotlar yoki xizmatlar</h4>
    <p>Onlayn kurslarimiz va elektron kitoblarimizni o'z ichiga olgan ba'zi mahsulotlar yoki xizmatlar faqat
        veb-sayt yoki bizning hamkor veb-saytlarimiz orqali onlayn tarzda mavjud bo'lishi mumkin. Ushbu mahsulot
        yoki xizmatlar cheklangan miqdorda bo'lishi mumkin va faqat Qaytish siyosatimizga muvofiq qaytarilishi yoki
        almashtirilishi mumkin .</p>
    <p>Biz mahsulot yoki xizmatlarimizni har qanday shaxsga, geografik mintaqaga yoki yurisdiktsiyaga sotishni
        cheklash huquqini saqlab qolamiz, lekin majburiy emasmiz. Biz ushbu huquqdan har bir holatda foydalanishimiz
        mumkin. Biz taklif qilayotgan har qanday mahsulot yoki xizmatlar miqdorini cheklash huquqini saqlab qolamiz.
        Mahsulotlarning barcha tavsiflari yoki mahsulot narxi istalgan vaqtda bizning ixtiyorimiz bilan
        ogohlantirilmasdan o'zgartirilishi mumkin. Biz istalgan vaqtda har qanday mahsulotni to'xtatish huquqini
        saqlab qolamiz. Ushbu saytda qilingan har qanday mahsulot yoki xizmat uchun har qanday taklif taqiqlangan
        hollarda bekor hisoblanadi.</p>
    <p>Siz sotib olgan yoki olgan har
        qanday mahsulot, xizmatlar, maʼlumotlar yoki boshqa materiallarning sifati kutganingizga mos kelishiga yoki
        Xizmatdagi har qanday xatoliklar tuzatilishiga kafolat bermaymiz.</p>

    <h4>6. Hisob-kitob va hisob
        ma'lumotlarining to'g'riligi</h4>
    <p>Bizga bergan har qanday
        buyurtmani rad etish huquqini saqlab qolamiz. Biz o'z ixtiyorimiz bilan har bir kishi, uy xo'jaligi yoki
        buyurtma bo'yicha sotib olingan miqdorlarni cheklashimiz yoki bekor qilishimiz mumkin. Ushbu cheklashlar bir
        xil mijoz hisobvarag'i, bir xil kredit karta va/yoki bir xil hisob-kitob va/yoki yetkazib berish manzilidan
        foydalanadigan buyurtmalar tomonidan yoki ostidagi buyurtmalarni o'z ichiga olishi mumkin. Buyurtmani
        o'zgartirgan yoki bekor qilgan taqdirda, buyurtma qilingan vaqtda ko'rsatilgan elektron pochta va/yoki
        hisob-kitob manzili/telefon raqamiga murojaat qilish orqali sizni xabardor qilishga harakat qilishimiz
        mumkin. Bizning fikrimizcha, biznes manfaatlarimizga zarar etkazishi mumkin bo'lgan ayrim mezonlarga javob
        berishi mumkin bo'lgan buyurtmalarni cheklash yoki taqiqlash huquqini o'zida saqlab qolamiz.
    </p>
    <p>>Siz bizning saytimizda amalga
        oshirilgan barcha xaridlar uchun joriy, to'liq va aniq xarid va hisob ma'lumotlarini taqdim etishga rozilik
        bildirasiz. Tranzaktsiyalaringizni yakunlashimiz va kerak bo'lganda siz bilan bog'lanishimiz uchun hisob
        qaydnomangiz va boshqa ma'lumotlarni, jumladan, elektron pochta manzilingiz va kredit karta raqamlari va
        amal qilish muddatini zudlik bilan yangilashga rozilik bildirasiz.</p>

    <h4>7. Ixtiyoriy asboblar</h4>
    <p>Biz sizga uchinchi tomon vositalariga kirishni ta'minlashimiz mumkin, ular ustidan biz nazorat qilmaydigan,
        nazorat qilmaydigan va kiritishimiz mumkin emas.</p>
    <p>Biz bunday vositalarga “mavjud bo‘lganidek” va “mavjud bo‘lganidek” hech qanday kafolatlar, taqdimnomalar
        yoki shartlarsiz va hech qanday tasdiqsiz kirishni ta’minlaganimizni tan olasiz va rozilik bildirasiz. Bizda
        ixtiyoriy uchinchi tomon vositalaridan foydalanishingizdan kelib chiqadigan yoki ular bilan bog‘liq hech
        qanday javobgarlik bo‘lmaydi.</p>
    <p>Sayt orqali taqdim etilayotgan ixtiyoriy vositalardan har qanday foydalanish sizning xavf-xataringiz va
        ixtiyoringizdadir va siz tegishli uchinchi tomon provayder(lar)i tomonidan taqdim etilgan vositalar bilan
        tanishish va shartlarni tasdiqlashingizga ishonch hosil qilishingiz kerak.</p>
    <p>Biz, shuningdek, kelajakda veb-sayt orqali yangi xizmatlar va/yoki xususiyatlarni taklif qilishimiz mumkin
        (jumladan, yangi vositalar va resurslarni chiqarish). Bunday yangi xususiyatlar va/yoki xizmatlar ham ushbu
        Xizmat shartlariga bo'ysunadi.</p>

    <h4>8. Uchinchi tomon havolalari</h4>
    <p>Xizmatimiz orqali mavjud bo'lgan ba'zi kontent, mahsulotlar va xizmatlar uchinchi tomon materiallarini o'z
        ichiga olishi mumkin.</p>
    <p>Ushbu saytdagi uchinchi tomon havolalari sizni biz bilan bog'liq bo'lmagan uchinchi tomon veb-saytlariga
        yo'naltirishi mumkin. Biz kontent yoki aniqlikni tekshirish yoki baholash uchun javobgar emasmiz va uchinchi
        tomon materiallari yoki veb-saytlari yoki uchinchi shaxslarning boshqa materiallari, mahsulotlari yoki
        xizmatlari uchun kafolat bermaymiz va hech qanday javobgarlik yoki javobgarlikka ega bo'lmaymiz.</p>
    <p>Biz uchinchi tomon veb-saytlari bilan bog'liq ravishda tovarlar, xizmatlar, resurslar, kontent yoki boshqa
        operatsiyalarni sotib olish yoki ulardan foydalanish bilan bog'liq har qanday zarar yoki zarar uchun
        javobgar emasmiz. Har qanday tranzaksiyani amalga oshirishdan oldin uchinchi tomon siyosatlari va
        amaliyotlarini diqqat bilan ko‘rib chiqing va ularni tushunganingizga ishonch hosil qiling. Uchinchi tomon
        mahsulotlariga oid shikoyatlar, da'volar, xavotirlar yoki savollar uchinchi tomonga yo'naltirilishi
        kerak.</p>

    <h4>9. Shaxsiy ma'lumotlar</h4>
    <p>Sizning shaxsiy ma'lumotlaringizni do'kon orqali yuborishingiz Maxfiylik siyosatimiz bilan tartibga solinadi
        .</p>

    <h4>10. Xatolar, noaniqliklar va kamchiliklar</h4>
    <p>Vaqti-vaqti bilan bizning saytimizda yoki Xizmatda mahsulot tavsiflari, narxlari, reklama aktsiyalari,
        takliflar, mahsulotni jo'natish to'lovlari, tranzit vaqtlari va mavjudligi bilan bog'liq bo'lishi mumkin
        bo'lgan tipografik xatolar, noaniqliklar yoki kamchiliklarni o'z ichiga olgan ma'lumotlar bo'lishi mumkin.
        Biz har qanday xatoliklarni, noaniqliklarni yoki kamchiliklarni to'g'irlash, ma'lumotlarni o'zgartirish yoki
        yangilash yoki xizmatdagi yoki tegishli veb-saytdagi biron bir ma'lumot noto'g'ri bo'lsa, istalgan vaqtda
        oldindan ogohlantirmasdan (shu jumladan buyurtmani topshirganingizdan keyin) buyurtmalarni bekor qilish
        huquqini o'zida saqlab qolamiz.</p>
    <p>Biz Xizmatdagi yoki har qanday tegishli veb-saytdagi ma'lumotlarni, shu jumladan cheklamagan holda narxlar
        haqidagi ma'lumotlarni yangilash, o'zgartirish yoki aniqlashtirish majburiyatini o'z zimmamizga olmaymiz,
        qonun talab qilgan hollar bundan mustasno. Xizmatda yoki tegishli veb-saytda qo'llaniladigan hech qanday
        yangilash yoki yangilanish sanasi Xizmatdagi yoki tegishli veb-saytdagi barcha ma'lumotlar o'zgartirilgan
        yoki yangilanganligini ko'rsatish uchun qabul qilinmasligi kerak.</p>

    <h4>11. Taqiqlangan foydalanish</h4>
    <p>Xizmat ko'rsatish shartlarida ko'rsatilgan boshqa taqiqlarga qo'shimcha ravishda, sizga sayt yoki uning
        mazmunidan foydalanish taqiqlanadi: (a) har qanday noqonuniy maqsadlarda; (b) har qanday noqonuniy
        xatti-harakatlarni amalga oshirish yoki ularda ishtirok etish uchun boshqalarni so'rash; (c) har qanday
        xalqaro, federal, viloyat yoki shtat qoidalari, qoidalar, qonunlar yoki mahalliy qarorlarni buzish; (d)
        bizning intellektual mulk huquqlarimiz yoki boshqalarning intellektual mulk huquqlarini buzish yoki buzish;
        (e) jinsi, jinsiy orientatsiyasi, dini, etnik kelib chiqishi, irqi, yoshi, milliy kelib chiqishi yoki
        nogironligiga qarab ta'qib qilish, haqorat qilish, haqorat qilish, zarar etkazish, tuhmat qilish, tuhmat
        qilish, kamsitish, qo'rqitish yoki kamsitish; (f) yolg'on yoki chalg'ituvchi ma'lumotlarni taqdim etish; (g)
        Xizmatning yoki har qanday tegishli veb-saytning, boshqa veb-saytlarning yoki Internetning funksionalligi
        yoki ishlashiga ta'sir qiladigan yoki ishlatilishi mumkin bo'lgan viruslarni yoki boshqa turdagi zararli
        kodlarni yuklash yoki uzatish; (h) boshqalarning shaxsiy ma'lumotlarini to'plash yoki kuzatish; (i) spam,
        phish, farmatsevtika, bahona, o'rgimchak, emaklash yoki qirib tashlash; (j) har qanday odobsiz yoki axloqsiz
        maqsadlar uchun; yoki (k) Xizmat yoki har qanday tegishli veb-sayt, boshqa veb-saytlar yoki Internetning
        xavfsizlik xususiyatlariga aralashish yoki ularni chetlab o'tish. Taqiqlangan foydalanishni buzganlik uchun
        Xizmatdan yoki tegishli veb-saytdan foydalanishingizni to'xtatish huquqini o'zida saqlab qolamiz.</p>

    <h4>12. Kafolatlardan voz kechish; Mas'uliyatni cheklash</h4>
    <p>Biz sizning xizmatimizdan foydalanishingiz uzluksiz, o'z vaqtida, xavfsiz yoki xatosiz bo'lishini
        kafolatlamaymiz, taqdim etmaymiz yoki kafolatlamaymiz.</p>
    <p>Xizmatdan foydalanish natijasida olinishi mumkin bo'lgan natijalar aniq yoki ishonchli bo'lishiga kafolat
        bermaymiz.</p>
    <p>Vaqti-vaqti bilan biz sizni ogohlantirmasdan xizmatni cheksiz muddatga olib tashlashimiz yoki istalgan vaqtda
        xizmatni bekor qilishimiz mumkinligiga rozilik bildirasiz.</p>
    <p>Siz ushbu xizmatdan foydalanishingiz yoki foydalana olmaslik faqat sizning xavf-xataringiz ostida ekanligiga
        aniq rozilik bildirasiz. Xizmat va sizga xizmat orqali yetkazib beriladigan barcha mahsulotlar va xizmatlar
        (biz tomonidan aniq ko'rsatilgan holatlar bundan mustasno) sizning foydalanishingiz uchun "mavjud
        bo'lganidek" va hech qanday vakillik, kafolatlar yoki har qanday shartlarsiz taqdim etiladi. nazarda
        tutilgan, shu jumladan, barcha nazarda tutilgan kafolatlar yoki savdoga yaroqlilik shartlari, sotiladigan
        sifat, muayyan maqsadga muvofiqlik, chidamlilik, nom va huquqbuzarlik.</p>
    <p>Hech qanday holatda Ascent Education, uning egasi, direktorlari, mansabdor shaxslari, xodimlari, filiallari,
        agentlari, pudratchilar, stajyorlar, yetkazib beruvchilar, xizmat ko'rsatuvchi provayderlar yoki litsenziya
        beruvchilar har qanday jarohat, yo'qotish, da'vo yoki to'g'ridan-to'g'ri, bilvosita, tasodifiy, jazolovchi,
        har qanday turdagi maxsus yoki oqibatli zararlar, shu jumladan, cheklanmagan holda, yo'qolgan foyda,
        yo'qolgan daromad, yo'qolgan jamg'armalar, ma'lumotlarning yo'qolishi, almashtirish xarajatlari yoki shunga
        o'xshash har qanday zararlar, shartnoma, huquqbuzarlik (shu jumladan beparvolik), qat'iy javobgarlik yoki
        boshqa yo'l bilan, har qanday xizmatdan yoki xizmatdan foydalangan holda sotib olingan har qanday
        mahsulotdan foydalanishingiz yoki xizmatdan yoki mahsulotdan foydalanishingiz bilan bog'liq har qanday
        boshqa da'volar, shu jumladan, lekin ular bilan cheklanmagan holda, har qanday kontentdagi har qanday xato
        yoki kamchiliklardan kelib chiqadigan , yoki xizmatdan foydalanish yoki xizmat orqali joylashtirilgan,
        uzatilgan yoki boshqa yo'l bilan taqdim etilgan har qanday kontent (yoki mahsulot) natijasida yuzaga kelgan
        har qanday yo'qotish yoki zarar, hatto ularning imkoniyatlari haqida xabar berilgan bo'lsa ham. Ba'zi
        shtatlar yoki yurisdiktsiyalar oqibatli yoki tasodifiy zararlar uchun javobgarlikni istisno qilish yoki
        cheklashga ruxsat bermaganligi sababli, bunday shtatlar yoki yurisdiktsiyalarda bizning javobgarligimiz
        qonun tomonidan ruxsat etilgan maksimal darajada cheklanadi.</p>

    <h4>13. Ajralish qobiliyati</h4>
    <p>Agar ushbu xizmat ko‘rsatish shartlarining har qanday qoidasi qonunga xilof, bekor yoki bajarib bo‘lmaydigan
        deb
        topilsa, bunday qoida amaldagi qonunchilikda ruxsat etilgan darajada to‘liq bajarilishi mumkin va bajarib
        bo‘lmaydigan qismi ushbu Shartlardan uzilgan deb hisoblanadi. Xizmat, bunday qaror boshqa har qanday
        qoidalarning haqiqiyligi va bajarilishiga ta'sir qilmaydi.</p>

    <h4>14. Tugatish</h4>
    <p>Tomonlarning tugatilish sanasidan oldin yuzaga kelgan majburiyatlari va majburiyatlari ushbu shartnoma barcha
        maqsadlarda bekor qilingandan keyin ham saqlanib qoladi.</p>
    <p>Ushbu Xizmat shartlari, agar siz yoki biz tomonidan bekor qilinmaguncha kuchga kiradi. Xizmatlarimizdan
        foydalanishni xohlamasligingizni bildirish yoki saytimizdan foydalanishni to‘xtatganingizda istalgan vaqtda
        ushbu Xizmat shartlarini bekor qilishingiz mumkin.</p>
    <p>Agar bizning yagona qarorimizga ko'ra, siz ushbu xizmat ko'rsatish shartlarining biron bir sharti yoki
        bandiga
        rioya qilmasangiz yoki biz buni bajara olmadingiz deb gumon qilsak, biz ushbu shartnomani istalgan vaqtda
        ogohlantirmasdan bekor qilishimiz mumkin va siz to'lanishi kerak bo'lgan barcha summalar uchun javobgar
        bo'lasiz. tugatish sanasigacha va shu jumladan; va/yoki shunga ko'ra bizning Xizmatlarimizga (yoki uning
        biron
        bir qismiga) kirishingizni rad etishi mumkin.</p>

    <h4>15. To'liq shartnoma</h4>
    <p>Ushbu xizmat ko‘rsatish shartlari bo‘yicha biron-bir huquq yoki shartni amalga oshirmasligimiz yoki amalga
        oshirmasligimiz bunday huquq yoki shartlardan voz kechishni anglatmaydi.</p>
    <p>Ushbu Xizmat shartlari va biz tomonidan ushbu saytda yoki Xizmatga nisbatan e'lon qilingan har qanday siyosat
        yoki foydalanish qoidalari siz va biz o'rtasidagi to'liq kelishuv va tushunishni tashkil qiladi va Xizmatdan
        foydalanishingizni boshqaradi, har qanday oldingi yoki bir vaqtning o'zida tuzilgan shartnomalar, xabarlar
        va
        takliflar o'rnini bosadi. , og'zaki yoki yozma, siz va biz o'rtasida (shu jumladan, lekin ular bilan
        cheklanmagan holda, Xizmat shartlarining oldingi versiyalari).</p>
    <p>Ushbu Xizmat shartlarini talqin qilishdagi har qanday noaniqliklar loyihani tuzgan tomonga nisbatan talqin
        qilinmasligi kerak.</p>

    <h4>16. Amaldagi qonun</h4>
    <p>Ushbu Xizmat shartlari va biz sizga Xizmatlarni taqdim etishimiz mumkin bo'lgan har qanday alohida
        shartnomalar
        Hindiston qonunlariga va Chennai, Tamilnadu yurisdiktsiyasiga muvofiq tartibga solinadi va talqin
        qilinadi.</p>

    <div class="bg-tertiary">
        <h2>II. Narx siyosati</h2>
        <h4>Narx diapazoni</h4>
        <p>SmartEducate tashabbusi bo'lgan ascenteducation.com saytida biz taqdim etgan turli kurslar va o'quv
            materiallariga muvofiq narxlarni moslashtirdik. Tafsilotlar sizga xizmatning sa'y-harakatlari, samaradorligi
            va
            natijasiga qarab oldindan taqdim etiladi. Odatda bizning veb-saytimizda tranzaktsiyalar diapazoni 1000 INR
            dan
            15 000 INR gacha o'zgarib turadi.</p>
        <h4>To'lov jadvali</h4>
        <p>Jonli onlayn darslarimizning davomiyligi va onlayn kurslarimizning amal qilish muddati belgilangan. Kursning
            davomiyligi va amal qilish muddati ushbu kurslarning tavsifida aniq ko'rsatilgan. Biz tomonimizdan taklif
            qilinadigan kurslarning davomiyligi 1 oydan 1 yilgacha o'zgarib turadi.</p>
        <h4>Kurslarni yangilash</h4>
        <p>Bizning veb-saytimizda yoki mobil ilovamizda taqdim etilgan onlayn kurslarimiz avtomatik ravishda
            YANGILANMAYDI.
            Muddati tugashidan oldin sizga kursning amal qilish muddatini uzaytirish imkoniyatini beruvchi xat keladi.
            Har
            safar uni qo'lda yangilashingiz kerak bo'ladi.</p>
        <h4>Takroriy jonli darslar</h4>
        <p>Siz kursga ro'yxatdan o'tish vaqtida ro'yxatdan o'tgan to'plamingiz bilan darslarga qatnashish huquqiga
            egasiz. Agar biron sababga ko'ra siz kursni to'plam bilan yakunlay olmasangiz yoki kursning bir qismini yoki
            butun kursni takrorlashni xohlasangiz, keng tarqalgan qayta qabul qilish shartlariga ko'ra, qayta qabul
            qilish to'lovini to'lashingiz kerak bo'ladi.</p>
    </div>
    <div class="bg-dark text-center  mb-4">
        <p class="text-white py-3 small">Mualliflik huquqi 2024 SmartEducate. Barcha huquqlar himoyalangan.</p>
    </div>

</div>

{% endblock %}