{% extends 'base.html' %}
{% load static %}

{% block title %}Mentorlar{% endblock %}

{% block content %}
<!-- Start Page Title -->
<div class="pagetitle">
    <h1>Talabalar</h1>
    <nav>
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="{% url 'home_page' %}">Asosiy sahifa</a></li>
            <li class="breadcrumb-item active">Talabalar</li>
        </ol>
    </nav>
</div><!-- End Page Title -->

<section class="section">
    <div class="row">
        <div class="col-lg-12">

            <div class="card">
                <div class="card-body">
                    <!-- Table with stripped rows -->
                    <table class="table datatable">
                        <thead>
                        <tr>
                            <th>Familiya</th>
                            <th>Ism</th>
                            <th>Jinsi</th>
                            <th>Email</th>
                            <th data-type="date" data-format="DD/MM/YYYY">Tug'ilgan sana</th>
                            <th></th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for user in users %}
                        <tr>
                            <td>{{ user.last_name|capfirst }}</td>
                            <td>{{ user.first_name|capfirst }}</td>
                            {% if user.gender == "1" %}
                            <td>Erkak</td>
                            {% else %}
                            <td>Ayol</td>
                            {% endif %}
                            <td>{{ user.email }}</td>
                            <td>{{ user.birthday|date:"d/m/Y" }}</td>
                            <td>
                                <a class="btn btn-primary btn-size" href="{% url 'edit-user' pk=user.id %}"><i
                                        class="bi bi-pencil"></i></a>
                                <a class="btn btn-danger btn-size" href="{% url 'student_delete' pk=user.user_id.id %}"><i class="bi bi-trash"></i></a>
                            </td>
                        </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                    <!-- End Table with stripped rows -->

                </div>
            </div>

        </div>
    </div>
</section>


{% endblock %}