{% load static %}

<!-- ======= Footer ======= -->
<footer id="footer" class="footer">
    <div class="copyright">
        &copy; Copyright <strong><span>{{ view.get_company_info.name }}</span></strong>. All Rights Reserved
    </div>
    <div class="credits">
        Created by <a href="https://www.instagram.com/sodiqjan_murodov/">Murodov Sodiqjon</a>
    </div>
</footer><!-- End Footer -->

<a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i
        class="bi bi-arrow-up-short"></i></a>