{% load static %}

<!-- ======= Header ======= -->
<header id="header" class="header fixed-top d-flex align-items-center">

    <!-- Start Logo -->
    <div class="d-flex align-items-center justify-content-between">
        <a href="{% url 'home_page' %}" class="logo d-flex align-items-center">
            <img src="{% static 'img/logo/logo.png' %}" alt="logo">
            {% if view.get_profile %}
            <span class="d-none d-lg-block">{{ view.get_company_info.name }}</span>
            {% else %}
            <span class="d-none d-lg-block">{{ get_company_info.name }}</span>
            {% endif %}
        </a>
        <i class="bi bi-list toggle-sidebar-btn"></i>
    </div><!-- End Logo -->
    

    <!-- Start Icons Navigation -->
    <nav class="header-nav ms-auto">
        <ul class="d-flex align-items-center">

            <!-- Start Profile Nav -->
            <li class="nav-item dropdown pe-3">

                <!-- Profile Iamge Icon -->
                <a class="nav-link nav-profile d-flex align-items-center pe-0" href="#" data-bs-toggle="dropdown">

                    {% if view.get_profile.image %}
                        <img src="{{ view.get_profile.image.url }}" alt="Profile" class="rounded-circle" width="36px" height="36px">
                    {% elif get_profile.image %}
                        <img src="{{ get_profile.image.url }}" alt="Profile" class="rounded-circle" width="36px" height="36px">
                    {% else %}
                        <img src="{% static 'img/user.png' %}" alt="Profile" class="rounded-circle">
                    {% endif %}

                    {% if view.get_profile %}
                    <span class="d-none d-md-block dropdown-toggle ps-2">{{ view.get_profile.first_name|capfirst|make_list|first }}.{{ view.get_profile.last_name|capfirst }}</span>
                    {% else %}
                    <span class="d-none d-md-block dropdown-toggle ps-2">{{ get_username|capfirst }}</span>
                    {% endif %}
                </a><!-- End Profile Iamge Icon -->

                <!-- Profile Dropdown Items -->
                <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow profile">
                    <li class="dropdown-header">
                        {% if view.get_profile %}
                        <h6>{{ view.get_profile.last_name|capfirst }} {{ view.get_profile.first_name|capfirst }}</h6>
                        {% else %}
                        <h6>{{ get_profile.last_name|capfirst }} {{ get_profile.first_name|capfirst }}</h6>
                        {% endif %}
                        {% if request.user.groups.all.0.name == "Student" %}
                        <span>Student</span>
                        {% elif request.user.groups.all.0.name == "Mentor" %}
                        <span>Mentor</span>
                        {% else %}
                        <span>Admin</span>
                        {% endif %}
                    </li>
                    <li>
                        <hr class="dropdown-divider">
                    </li>

                    <li>
                        {% if view.get_profile %}
                        <a class="dropdown-item d-flex align-items-center" href="{% url 'profile' pk=view.get_profile.id %}">
                            <i class="bi bi-person"></i>
                            <span>Mening Profilim</span>
                        </a>
                        {% else %}
                        <a class="dropdown-item d-flex align-items-center" href="{% url 'profile' pk=get_profile.id %}">
                            <i class="bi bi-person"></i>
                            <span>Mening Profilim</span>
                        </a>
                        {% endif %}
                    </li>
                    <li>
                        <hr class="dropdown-divider">
                    </li>

                    <li>
                        <a class="dropdown-item d-flex align-items-center" href="{% url 'terms-and-policy' %}">
                            <i class="bi bi-question-circle"></i>
                            <span>Tizim bo'yicha yordam</span>
                        </a>
                    </li>
                    <li>
                        <hr class="dropdown-divider">
                    </li>

                    <li>
                        <form action="{% url 'logout' %}" method="post">
                            {% csrf_token %}
                            <button class="dropdown-item d-flex align-items-center" type="submit">
                                <i class="bi bi-box-arrow-right"></i>
                                <span>Chiqish</span>
                            </button>
                        </form>
                    </li>

                </ul><!-- End Profile Dropdown Items -->
            </li><!-- End Profile Nav -->

        </ul>
    </nav><!-- End Icons Navigation -->

</header><!-- End Header -->